extends layout

block content
  h1 Hackathon Starter
  p.lead Netplay-related tools/things.
  hr
  .row
    .col-sm-6
      h2 12 Character Battle
      p Socket-based 12cb tool.
      p
        a.btn.btn-default(href='#', role='button') Show Me »